/* tabbrowser tabpanels {
	background-color: rgb(19, 19, 20) !important;
}
browser {
	background-color: #131314 !important;
}

#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type="content-primary"],
browser[type="content"] > html {
	background: #1d1b19 !important;
} */








/* uncomment below to:  "Auto-hide" address bar unless focused (e.g. Ctrl-L) or tab bar is hovered. */
/*
:root {
    --address-bar-height: 40px;
    --browser-offset: calc(-1 * (var(--address-bar-height) + 1px));
}
#navigator-toolbox-background {
    position: absolute !important;
}
#navigator-toolbox-background ~ #browser {
    margin-top: var(--browser-offset) !important;
}
#navigator-toolbox-background:hover, #navigator-toolbox-background:focus-within {
    z-index: 9001 !important;
}
*/